.VideoView {
	display: inline-flex;
	position: relative;
	justify-content: center;
	background-color: rgb(42, 59, 78);
	min-width: 60%;
	min-height: 60%;
	max-width: 1280px;
	max-height: 720px;
	top: 5%;
	margin-left: 5%;
	margin-right: 5%;
	border-radius: 20px;
}
